<a href="https://colab.research.google.com/github/paulorobertolds/monograph/blob/main/Copy_of_Setor_de_Servi%C3%A7os.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing required packages
import pandas as pd
import numpy as np

#importing the data
df = pd.read_csv('https://raw.githubusercontent.com/paulorobertolds/monograph/main/zaninData.csv' )


print(df.shape)
df.head()

(21662, 22)

,Data de extração,Base de dados,SETOR IBGE,Tipo,Ano,Local,Seção,Seção (Nome),Divisão,Divisão (Nome),...,Classe,Classe (Nome),Subclasse,Denominação,Total,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,12969
0,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.61-0,Atividades de apoio à agricultura,0161-0/01,Serviço de Pulverização e Controle de Pragas A...,2,NaN,NaN,NaN,NaN,NaN
1,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.61-0,Atividades de apoio à agricultura,0161-0/99,Atividades de Apoio à Agricultura não Especifi...,20,NaN,NaN,NaN,NaN,NaN
2,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.62-8,Atividades de apoio à pecuária,0162-8/01,Serviço de Inseminação Artificial em Animais,1,NaN,NaN,NaN,NaN,NaN
3,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.62-8,Atividades de apoio à pecuária,0162-8/03,Serviço de Manejo de Animais,2,NaN,NaN,NaN,NaN,NaN
4,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.62-8,Atividades de apoio à pecuária,0162-8/99,Atividades de Apoio à Pecuária não Especificad...,24,NaN,NaN,NaN,NaN,NaN

In [3]:
df=df.drop(df.columns[[17,18,19,20,21]],axis =1)
df.head()

,Data de extração,Base de dados,SETOR IBGE,Tipo,Ano,Local,Seção,Seção (Nome),Divisão,Divisão (Nome),Grupo,Grupo (Nome),Classe,Classe (Nome),Subclasse,Denominação,Total
0,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.61-0,Atividades de apoio à agricultura,0161-0/01,Serviço de Pulverização e Controle de Pragas A...,2
1,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.61-0,Atividades de apoio à agricultura,0161-0/99,Atividades de Apoio à Agricultura não Especifi...,20
2,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.62-8,Atividades de apoio à pecuária,0162-8/01,Serviço de Inseminação Artificial em Animais,1
3,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.62-8,Atividades de apoio à pecuária,0162-8/03,Serviço de Manejo de Animais,2
4,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.62-8,Atividades de apoio à pecuária,0162-8/99,Atividades de Apoio à Pecuária não Especificad...,24

In [4]:
np.unique(df[df.columns[[6]]])

array(['A', 'C', 'E', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'P', 'R',
       'S'], dtype=object)

In [5]:
np.unique(df[df.columns[[7]]])

array(['AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA',
       'ALOJAMENTO E ALIMENTAÇÃO', 'ARTES, CULTURA, ESPORTE E RECREAÇÃO',
       'ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMENTARES',
       'ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS RELACIONADOS',
       'ATIVIDADES IMOBILIÁRIAS',
       'ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS',
       'COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E MOTOCICLETAS',
       'EDUCAÇÃO', 'INDÚSTRIAS DE TRANSFORMAÇÃO',
       'INFORMAÇÃO E COMUNICAÇÃO', 'OUTRAS ATIVIDADES DE SERVIÇOS',
       'TRANSPORTE, ARMAZENAGEM E CORREIO',
       'ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS E DESCONTAMINAÇÃO'],
      dtype=object)

In [6]:
# Nomes das colunas
print(df.columns.values)

['Data de extração' 'Base de dados' 'SETOR IBGE' 'Tipo' 'Ano' 'Local'
 'Seção' 'Seção (Nome)' 'Divisão' 'Divisão (Nome)' 'Grupo' 'Grupo (Nome)'
 'Classe' 'Classe (Nome)' 'Subclasse' 'Denominação' 'Total']

In [7]:
# Remover colunas desnecessárias:
df=df.drop(['Data de extração','Base de dados','SETOR IBGE','Divisão','Divisão (Nome)','Grupo','Grupo (Nome)','Classe','Classe (Nome)','Subclasse','Denominação'],axis=1)
df.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
0,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
1,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",20
2,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1
3,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
4,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",24

In [8]:
#df.rename(columns = {'Seção':'Setor', 'Seção (Nome)':'Nome do Setor'}, inplace = True)

In [28]:
empresas_Cuiaba = df.loc[(df['Local']=='Cuiabá')&(df['Tipo'] == 'N° de empresas')]
empresas_Cuiaba.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
0,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
1,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",20
2,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1
3,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
4,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",24

In [33]:
#Agrupar por seção
Empresas_Cuiaba=empresas_Cuiaba.groupby(['Ano','Seção','Seção (Nome)'],as_index = False)['Total'].sum().fillna(0)
Empresas_Cuiaba.head()

    Ano Seção                                       Seção (Nome)  Total
0  2009     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...     61
1  2009     C                        INDÚSTRIAS DE TRANSFORMAÇÃO     47
2  2009     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...     21
3  2009     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...   5622
4  2009     H                  TRANSPORTE, ARMAZENAGEM E CORREIO    127

In [35]:
funcionarios_Cuiaba = df.loc[(df['Local']=='Cuiabá')&(df['Tipo'] == 'N° de funcionários')]
funcionarios_Cuiaba.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
6,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",3
7,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",704
8,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
9,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",3
10,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",46

In [37]:
#Agrupar por seção
Funcionarios_Cuiaba=funcionarios_Cuiaba.groupby(['Ano','Seção','Seção (Nome)'],as_index = False)['Total'].sum().fillna(0)
Funcionarios_Cuiaba.head()

    Ano Seção                                       Seção (Nome)  Total
0  2009     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...   1491
1  2009     C                        INDÚSTRIAS DE TRANSFORMAÇÃO    262
2  2009     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...    405
3  2009     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...  41290
4  2009     H                  TRANSPORTE, ARMAZENAGEM E CORREIO   1244

In [39]:
#statisticas descritivas
Empresas_Cuiaba.describe()

               Ano        Total
count   158.000000   158.000000
mean   2014.443038   798.468354
std       3.479684  1596.529364
min    2009.000000     3.000000
25%    2011.000000   113.750000
50%    2014.000000   183.500000
75%    2017.000000   783.750000
max    2020.000000  6496.000000

In [41]:
Funcionarios_Cuiaba.describe()

               Ano         Total
count   158.000000    158.000000
mean   2014.443038   7037.974684
std       3.479684  12332.866216
min    2009.000000      8.000000
25%    2011.000000    678.750000
50%    2014.000000   2050.500000
75%    2017.000000   4950.750000
max    2020.000000  49267.000000

In [42]:
empresas_MT = df.loc[(df['Local']=='Mato Grosso')&(df['Tipo'] == 'N° de empresas')]
empresas_MT.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
144,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",88
145,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",10
146,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",264
147,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",272
148,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",7

In [44]:
#agrupar por seção
Empresas_MT=empresas_MT.groupby(['Ano','Seção','Seção (Nome)'],as_index = False)['Total'].sum().fillna(0)
Empresas_MT.head()

    Ano Seção                                       Seção (Nome)  Total
0  2009     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...    710
1  2009     C                        INDÚSTRIAS DE TRANSFORMAÇÃO    196
2  2009     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...     94
3  2009     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...  23920
4  2009     H                  TRANSPORTE, ARMAZENAGEM E CORREIO    630

In [43]:
funcionarios_MT = df.loc[(df['Local']=='Mato Grosso')&(df['Tipo'] == 'N° de funcionários')]
funcionarios_MT.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
240,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",397
241,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",33
242,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",962
243,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",3032
244,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",15

In [45]:
#Agrupar por seção
Funcionarios_MT=funcionarios_MT.groupby(['Ano','Seção','Seção (Nome)'],as_index = False)['Total'].sum().fillna(0)
Funcionarios_MT.head()

    Ano Seção                                       Seção (Nome)   Total
0  2009     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...    5156
1  2009     C                        INDÚSTRIAS DE TRANSFORMAÇÃO     767
2  2009     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...    1271
3  2009     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...  142244
4  2009     H                  TRANSPORTE, ARMAZENAGEM E CORREIO    4626

In [46]:
#statisticas descritivas
Empresas_MT.describe()

               Ano         Total
count   158.000000    158.000000
mean   2014.443038   3308.949367
std       3.479684   7518.338310
min    2009.000000      6.000000
25%    2011.000000    444.250000
50%    2014.000000    812.000000
75%    2017.000000   2339.250000
max    2020.000000  31360.000000

In [47]:
Funcionarios_Cuiaba.describe()

               Ano         Total
count   158.000000    158.000000
mean   2014.443038   7037.974684
std       3.479684  12332.866216
min    2009.000000      8.000000
25%    2011.000000    678.750000
50%    2014.000000   2050.500000
75%    2017.000000   4950.750000
max    2020.000000  49267.000000

In [56]:
Empresas_MT.loc[(Empresas_MT['Ano']==2009)]

     Ano Seção                                       Seção (Nome)  Total
0   2009     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...    710
1   2009     C                        INDÚSTRIAS DE TRANSFORMAÇÃO    196
2   2009     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...     94
3   2009     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...  23920
4   2009     H                  TRANSPORTE, ARMAZENAGEM E CORREIO    630
5   2009     I                           ALOJAMENTO E ALIMENTAÇÃO   2564
6   2009     J                           INFORMAÇÃO E COMUNICAÇÃO    657
7   2009     K  ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS ...    149
8   2009     L                            ATIVIDADES IMOBILIÁRIAS    163
9   2009     M   ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS   1612
10  2009     N  ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEME...   1568
11  2009     P                                           EDUCAÇÃO    423
12  2009     R                ARTES, CULTURA, ESPORTE E RECREAÇÃO    302
13  2009     S                      OUTRAS ATIVIDADES DE SERVIÇOS    710

In [57]:
Empresas_MT.loc[(Empresas_MT['Ano']==2020)]

      Ano Seção                                       Seção (Nome)  Total
145  2020     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...    915
146  2020     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...    193
147  2020     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...  31360
148  2020     H                  TRANSPORTE, ARMAZENAGEM E CORREIO    932
149  2020     I                           ALOJAMENTO E ALIMENTAÇÃO   4666
150  2020     J                           INFORMAÇÃO E COMUNICAÇÃO   1050
151  2020     K  ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS ...    334
152  2020     L                            ATIVIDADES IMOBILIÁRIAS    605
153  2020     M   ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS   3461
154  2020     N  ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEME...   3211
155  2020     P                                           EDUCAÇÃO    854
156  2020     R                ARTES, CULTURA, ESPORTE E RECREAÇÃO    484
157  2020     S                      OUTRAS ATIVIDADES DE SERVIÇOS   1281

In [54]:
Funcionarios_MT.loc[(Funcionarios_MT['Ano']==2009)]

     Ano Seção                                       Seção (Nome)   Total
0   2009     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...    5156
1   2009     C                        INDÚSTRIAS DE TRANSFORMAÇÃO     767
2   2009     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...    1271
3   2009     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...  142244
4   2009     H                  TRANSPORTE, ARMAZENAGEM E CORREIO    4626
5   2009     I                           ALOJAMENTO E ALIMENTAÇÃO   15484
6   2009     J                           INFORMAÇÃO E COMUNICAÇÃO    4806
7   2009     K  ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS ...     723
8   2009     L                            ATIVIDADES IMOBILIÁRIAS     606
9   2009     M   ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    6175
10  2009     N  ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEME...   22759
11  2009     P                                           EDUCAÇÃO    3044
12  2009     R                ARTES, CULTURA, ESPORTE E RECREAÇÃO    1069
13  2009     S                      OUTRAS ATIVIDADES DE SERVIÇOS    2985

In [55]:
Funcionarios_MT.loc[(Funcionarios_MT['Ano']==2020)]

      Ano Seção                                       Seção (Nome)   Total
145  2020     A  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...    6685
146  2020     E  ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS...    2880
147  2020     G  COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E ...  206294
148  2020     H                  TRANSPORTE, ARMAZENAGEM E CORREIO   10453
149  2020     I                           ALOJAMENTO E ALIMENTAÇÃO   24954
150  2020     J                           INFORMAÇÃO E COMUNICAÇÃO   10368
151  2020     K  ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS ...     926
152  2020     L                            ATIVIDADES IMOBILIÁRIAS    1971
153  2020     M   ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS   15960
154  2020     N  ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEME...   36956
155  2020     P                                           EDUCAÇÃO    4969
156  2020     R                ARTES, CULTURA, ESPORTE E RECREAÇÃO    1681
157  2020     S                      OUTRAS ATIVIDADES DE SERVIÇOS    4302

In [58]:
from google.colab import files

#Empresas_Cuiaba.to_csv('empresasCuiaba.csv', encoding = 'utf-8-sig') 
#files.download('empresasCuiaba.csv')

In [60]:
#Empresas_MT.to_csv('empresasMT.csv', encoding = 'utf-8-sig') 
#files.download('empresasMT.csv')

In [62]:
#Funcionarios_Cuiaba.to_csv('funcionariosCuiaba.csv', encoding = 'utf-8-sig') 
#files.download('funcionariosCuiaba.csv')

In [63]:
#Funcionarios_MT.to_csv('funcionariosMT.csv', encoding = 'utf-8-sig') 
#files.download('funcionariosMT.csv')

In [ ]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [ ]:
%%R
install.packages("esquisse")

In [ ]:
%%R
#install.packages('RCurl')

In [ ]:
%%R
library(tidyverse)
library(ggplot2)
library(esquisse)
library(RCurl)

R[write to console]:
Attaching package: ‘RCurl’


R[write to console]: The following object is masked from ‘package:tidyr’:

    complete

In [ ]:
%%R
empresasCuiaba = read.csv("empresasCuiaba.csv")
head(empresasCuiaba)

  X           Tipo  Ano  Local Seção
1 0 N° de empresas 2009 Cuiabá     A
2 1 N° de empresas 2009 Cuiabá     A
3 2 N° de empresas 2009 Cuiabá     A
4 3 N° de empresas 2009 Cuiabá     A
5 4 N° de empresas 2009 Cuiabá     A
6 5 N° de empresas 2009 Cuiabá     A
                                                    Seção..Nome. Total
1 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     2
2 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA    20
3 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     1
4 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     2
5 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA    24
6 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     1

In [ ]:
%%R 
esquisse::esquisser(empresasCuiaba)

R[write to console]: Loading required package: shiny

R[write to console]:
Listening on http://127.0.0.1:7662

From cffi callback <function _processevents at 0x7fefa3657200>:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface_lib/callbacks.py", line 274, in _processevents
    @ffi_proxy.callback(ffi_proxy._processevents_def,
KeyboardInterrupt
From cffi callback <function _processevents at 0x7fefa3657200>:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface_lib/callbacks.py", line 274, in _processevents
    @ffi_proxy.callback(ffi_proxy._processevents_def,
KeyboardInterrupt
From cffi callback <function _processevents at 0x7fefa3657200>:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface_lib/callbacks.py", line 274, in _processevents
    @ffi_proxy.callback(ffi_proxy._processevents_def,
KeyboardInterrupt

# New Section

In [ ]:
#Empresas_Cuiaba=empresas_Cuiaba.groupby(['Ano','Seção','Seção (Nome)'])['Total'].sum()
#Empresas_Cuiaba=empresas_Cuiaba.groupby(['Ano','Seção','Seção (Nome)'],as_index = False)['Total'].sum().pivot('Ano','Seção').fillna(0)