<a href="https://colab.research.google.com/github/paulorobertolds/monograph/blob/main/Setor_de_Servi%C3%A7os.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#importing required packages
import pandas as pd
import numpy as np

#importing the data
df = pd.read_csv('https://raw.githubusercontent.com/paulorobertolds/monograph/main/zaninData.csv' )


print(df.shape)
df.head()

(21662, 22)

,Data de extração,Base de dados,SETOR IBGE,Tipo,Ano,Local,Seção,Seção (Nome),Divisão,Divisão (Nome),...,Classe,Classe (Nome),Subclasse,Denominação,Total,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,12969
0,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.61-0,Atividades de apoio à agricultura,0161-0/01,Serviço de Pulverização e Controle de Pragas A...,2,NaN,NaN,NaN,NaN,NaN
1,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.61-0,Atividades de apoio à agricultura,0161-0/99,Atividades de Apoio à Agricultura não Especifi...,20,NaN,NaN,NaN,NaN,NaN
2,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.62-8,Atividades de apoio à pecuária,0162-8/01,Serviço de Inseminação Artificial em Animais,1,NaN,NaN,NaN,NaN,NaN
3,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.62-8,Atividades de apoio à pecuária,0162-8/03,Serviço de Manejo de Animais,2,NaN,NaN,NaN,NaN,NaN
4,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",...,01.62-8,Atividades de apoio à pecuária,0162-8/99,Atividades de Apoio à Pecuária não Especificad...,24,NaN,NaN,NaN,NaN,NaN

In [6]:
df=df.drop(df.columns[[17,18,19,20,21]],axis =1)
df.head()

,Data de extração,Base de dados,SETOR IBGE,Tipo,Ano,Local,Seção,Seção (Nome),Divisão,Divisão (Nome),Grupo,Grupo (Nome),Classe,Classe (Nome),Subclasse,Denominação,Total
0,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.61-0,Atividades de apoio à agricultura,0161-0/01,Serviço de Pulverização e Controle de Pragas A...,2
1,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.61-0,Atividades de apoio à agricultura,0161-0/99,Atividades de Apoio à Agricultura não Especifi...,20
2,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.62-8,Atividades de apoio à pecuária,0162-8/01,Serviço de Inseminação Artificial em Animais,1
3,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.62-8,Atividades de apoio à pecuária,0162-8/03,Serviço de Manejo de Animais,2
4,12/8/2021,RAIS ESTABELECIMENTO,PAS,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1,"AGRICULTURA, PECUÁRIA E SERVIÇOS RELACIONADOS",1.6,Atividades de apoio à agricultura e à pecuária...,01.62-8,Atividades de apoio à pecuária,0162-8/99,Atividades de Apoio à Pecuária não Especificad...,24

In [7]:
np.unique(df[df.columns[[6]]])

array(['A', 'C', 'E', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'P', 'R',
       'S'], dtype=object)

In [8]:
np.unique(df[df.columns[[7]]])

array(['AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA',
       'ALOJAMENTO E ALIMENTAÇÃO', 'ARTES, CULTURA, ESPORTE E RECREAÇÃO',
       'ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMENTARES',
       'ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS RELACIONADOS',
       'ATIVIDADES IMOBILIÁRIAS',
       'ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS',
       'COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E MOTOCICLETAS',
       'EDUCAÇÃO', 'INDÚSTRIAS DE TRANSFORMAÇÃO',
       'INFORMAÇÃO E COMUNICAÇÃO', 'OUTRAS ATIVIDADES DE SERVIÇOS',
       'TRANSPORTE, ARMAZENAGEM E CORREIO',
       'ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS E DESCONTAMINAÇÃO'],
      dtype=object)

In [9]:
# Nomes das colunas
print(df.columns.values)

['Data de extração' 'Base de dados' 'SETOR IBGE' 'Tipo' 'Ano' 'Local'
 'Seção' 'Seção (Nome)' 'Divisão' 'Divisão (Nome)' 'Grupo' 'Grupo (Nome)'
 'Classe' 'Classe (Nome)' 'Subclasse' 'Denominação' 'Total']

In [10]:
# Remover colunas desnecessárias:
df=df.drop(['Data de extração','Base de dados','SETOR IBGE','Divisão','Divisão (Nome)','Grupo','Grupo (Nome)','Classe','Classe (Nome)','Subclasse','Denominação'],axis=1)
df.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
0,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
1,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",20
2,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1
3,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
4,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",24

In [11]:
#df.rename(columns = {'Seção':'Setor', 'Seção (Nome)':'Nome do Setor'}, inplace = True)

In [12]:
empresas_Cuiaba = df.loc[(df['Local']=='Cuiabá')&(df['Tipo'] == 'N° de empresas')]
empresas_Cuiaba.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
0,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
1,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",20
2,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",1
3,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
4,N° de empresas,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",24

In [13]:
#statisticas descritivas
empresas_Cuiaba.groupby('Ano').describe()

      Total
      count       mean        std  min  25%  50%    75%    max
Ano
2009  420.0  20.759524  48.122822  1.0  2.0  7.0  17.00  638.0
2010  419.0  22.064439  50.953944  1.0  3.0  7.0  19.00  676.0
2011  429.0  22.508159  50.867549  1.0  3.0  7.0  20.00  659.0
2012  430.0  23.430233  52.645523  1.0  3.0  7.0  21.75  689.0
2013  426.0  24.814554  54.799664  1.0  3.0  8.0  22.75  704.0
2014  428.0  25.404206  56.690934  1.0  3.0  8.0  22.00  716.0
2015  444.0  24.707207  57.171635  1.0  2.0  8.0  20.00  698.0
2016  433.0  25.498845  57.609281  1.0  3.0  8.0  22.00  659.0
2017  426.0  26.281690  59.190981  1.0  3.0  8.0  22.00  657.0
2018  432.0  26.472222  60.955913  1.0  3.0  8.0  23.00  700.0
2019  428.0  26.483645  59.553862  1.0  3.0  8.0  22.25  659.0
2020  434.0  25.440092  56.428150  1.0  3.0  8.0  22.75  611.0

In [14]:
funcionarios_Cuiaba = df.loc[(df['Local']=='Cuiabá')&(df['Tipo'] == 'N° de funcionários')]
funcionarios_Cuiaba.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
6,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",3
7,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",704
8,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",2
9,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",3
10,N° de funcionários,2009,Cuiabá,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",46

In [15]:
funcionarios_Cuiaba.groupby('Ano').describe()

      Total
      count        mean         std  min    25%   50%     75%     max
Ano
2009  420.0  179.328571  463.724896  0.0   9.00  40.5  135.50  4325.0
2010  419.0  193.966587  499.425032  0.0  11.00  46.0  159.00  4687.0
2011  429.0  203.072261  495.400439  0.0  10.00  46.0  166.00  4295.0
2012  430.0  213.781395  526.313443  0.0  11.00  49.0  180.75  4719.0
2013  426.0  225.399061  555.079471  0.0  11.25  52.0  194.75  5080.0
2014  428.0  229.794393  564.349075  0.0  12.00  52.5  195.00  5511.0
2015  444.0  219.349099  574.296069  0.0   9.00  46.0  179.75  5536.0
2016  433.0  218.475751  558.780016  0.0  10.00  46.0  177.00  5174.0
2017  426.0  223.741784  557.361726  0.0  12.00  50.5  180.00  5317.0
2018  432.0  231.828704  612.528735  0.0  13.00  47.0  197.50  6104.0
2019  428.0  230.170561  591.808277  0.0  13.75  46.5  195.25  5789.0
2020  434.0  221.258065  575.527008  0.0  10.25  44.0  187.50  5659.0

In [16]:
#statisticas descritivas
empresas_Cuiaba.loc[(empresas_Cuiaba['Ano']==2009)].groupby('Seção (Nome)').describe()

                                                      Ano               \
                                                    count    mean  std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    7.0  2009.0  0.0
ALOJAMENTO E ALIMENTAÇÃO                             14.0  2009.0  0.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  15.0  2009.0  0.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   41.0  2009.0  0.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   14.0  2009.0  0.0
ATIVIDADES IMOBILIÁRIAS                               5.0  2009.0  0.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     30.0  2009.0  0.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  204.0  2009.0  0.0
EDUCAÇÃO                                             10.0  2009.0  0.0
INDÚSTRIAS DE TRANSFORMAÇÃO                           1.0  2009.0  NaN
INFORMAÇÃO E COMUNICAÇÃO                             32.0  2009.0  0.0
OUTRAS ATIVIDADES DE SERVIÇOS                        18.0  2009.0  0.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    20.0  2009.0  0.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    9.0  2009.0  0.0

                                                                            \
                                                       min     25%     50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0  2009.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0  2009.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0  2009.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0  2009.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0  2009.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0  2009.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0  2009.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  2009.0
EDUCAÇÃO                                            2009.0  2009.0  2009.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0  2009.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0  2009.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0  2009.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0  2009.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0  2009.0

                                                                    Total  \
                                                       75%     max  count
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0    7.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0   14.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0   15.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0   41.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0   14.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0    5.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0   30.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  204.0
EDUCAÇÃO                                            2009.0  2009.0   10.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0    1.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0   32.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0   18.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0   20.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0    9.0

                                                                          \
                                                         mean        std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   8.714286   9.793098
ALOJAMENTO E ALIMENTAÇÃO                            49.642857  89.983423
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  5.466667   5.914470
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  15.512195  22.944631
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   5.928571   9.152253
ATIVIDADES IMOBILIÁRIAS                             13.400000   5.412947
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    19.833333  40.306655
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  27.558824  60.204262
EDUCAÇÃO                                            12.500000  13.193012
INDÚSTRIAS DE TRANSFORMAÇÃO                         47.000000        NaN
INFORMAÇÃO E COMUNICAÇÃO                             8.312500  12.092220
OUTRAS ATIVIDADES DE SERVIÇOS                       16.222222  20.890627
TRANSPORTE, ARMAZENAGEM E CORREIO                    6.350000   8.041177
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   2.333333   2.236068

                                                                              \
                                                     min    25%   50%    75%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   1.0   1.50   2.0  15.50
ALOJAMENTO E ALIMENTAÇÃO                             1.0   2.50  13.0  31.50
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  1.0   1.00   3.0   7.50
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   1.0   3.00   7.0  20.00
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   1.0   1.00   2.5   5.75
ATIVIDADES IMOBILIÁRIAS                              7.0   9.00  14.0  17.00
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     1.0   3.25   7.0  11.75
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...   1.0   3.00   8.0  23.25
EDUCAÇÃO                                             1.0   3.25   5.5  19.00
INDÚSTRIAS DE TRANSFORMAÇÃO                         47.0  47.00  47.0  47.00
INFORMAÇÃO E COMUNICAÇÃO                             1.0   2.00   5.0   7.25
OUTRAS ATIVIDADES DE SERVIÇOS                        1.0   2.00   5.0  22.75
TRANSPORTE, ARMAZENAGEM E CORREIO                    1.0   1.00   3.5   8.25
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   1.0   1.00   2.0   2.00


                                                      max
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   24.0
ALOJAMENTO E ALIMENTAÇÃO                            294.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  20.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  118.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   35.0
ATIVIDADES IMOBILIÁRIAS                              20.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    195.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  638.0
EDUCAÇÃO                                             36.0
INDÚSTRIAS DE TRANSFORMAÇÃO                          47.0
INFORMAÇÃO E COMUNICAÇÃO                             56.0
OUTRAS ATIVIDADES DE SERVIÇOS                        69.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    33.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    8.0

In [17]:
empresas_Cuiaba.loc[(empresas_Cuiaba['Ano']==2020)].groupby('Seção (Nome)').describe()

                                                      Ano               \
                                                    count    mean  std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    7.0  2020.0  0.0
ALOJAMENTO E ALIMENTAÇÃO                             14.0  2020.0  0.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  16.0  2020.0  0.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   46.0  2020.0  0.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   12.0  2020.0  0.0
ATIVIDADES IMOBILIÁRIAS                               6.0  2020.0  0.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     30.0  2020.0  0.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  213.0  2020.0  0.0
EDUCAÇÃO                                             11.0  2020.0  0.0
INFORMAÇÃO E COMUNICAÇÃO                             34.0  2020.0  0.0
OUTRAS ATIVIDADES DE SERVIÇOS                        19.0  2020.0  0.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    17.0  2020.0  0.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    9.0  2020.0  0.0

                                                                            \
                                                       min     25%     50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2020.0  2020.0  2020.0
ALOJAMENTO E ALIMENTAÇÃO                            2020.0  2020.0  2020.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2020.0  2020.0  2020.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2020.0  2020.0  2020.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2020.0  2020.0  2020.0
ATIVIDADES IMOBILIÁRIAS                             2020.0  2020.0  2020.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2020.0  2020.0  2020.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2020.0  2020.0  2020.0
EDUCAÇÃO                                            2020.0  2020.0  2020.0
INFORMAÇÃO E COMUNICAÇÃO                            2020.0  2020.0  2020.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2020.0  2020.0  2020.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2020.0  2020.0  2020.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2020.0  2020.0  2020.0

                                                                    Total  \
                                                       75%     max  count
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2020.0  2020.0    7.0
ALOJAMENTO E ALIMENTAÇÃO                            2020.0  2020.0   14.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2020.0  2020.0   16.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2020.0  2020.0   46.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2020.0  2020.0   12.0
ATIVIDADES IMOBILIÁRIAS                             2020.0  2020.0    6.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2020.0  2020.0   30.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2020.0  2020.0  213.0
EDUCAÇÃO                                            2020.0  2020.0   11.0
INFORMAÇÃO E COMUNICAÇÃO                            2020.0  2020.0   34.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2020.0  2020.0   19.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2020.0  2020.0   17.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2020.0  2020.0    9.0

                                                                           \
                                                         mean         std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   6.285714    5.707138
ALOJAMENTO E ALIMENTAÇÃO                            86.071429  162.639509
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  7.500000   14.361987
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  24.630435   41.424823
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  10.916667   26.749540
ATIVIDADES IMOBILIÁRIAS                             30.666667   18.051777
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    34.366667   70.088852
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  28.488263   57.177200
EDUCAÇÃO                                            19.636364   23.066308
INFORMAÇÃO E COMUNICAÇÃO                             9.529412   12.488141
OUTRAS ATIVIDADES DE SERVIÇOS                       19.473684   24.954110
TRANSPORTE, ARMAZENAGEM E CORREIO                   10.058824   15.294895
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   4.888889    4.136558

                                                                             \
                                                    min    25%   50%    75%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  1.0   3.00   4.0   7.50
ALOJAMENTO E ALIMENTAÇÃO                            3.0   7.25  25.0  65.25
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 1.0   2.00   3.0   5.25
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  1.0   3.00   7.5  32.25
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  1.0   1.00   1.5   5.25
ATIVIDADES IMOBILIÁRIAS                             4.0  20.00  33.0  45.25
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    1.0   2.25  11.0  21.00
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  1.0   3.00  10.0  27.00
EDUCAÇÃO                                            2.0   4.00  10.0  29.00
INFORMAÇÃO E COMUNICAÇÃO                            1.0   2.00   4.5  12.00
OUTRAS ATIVIDADES DE SERVIÇOS                       1.0   4.00  12.0  26.00
TRANSPORTE, ARMAZENAGEM E CORREIO                   1.0   2.00   5.0   8.00
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2.0   2.00   3.0   5.00


                                                      max
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   18.0
ALOJAMENTO E ALIMENTAÇÃO                            587.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  60.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  247.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   95.0
ATIVIDADES IMOBILIÁRIAS                              49.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    280.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  611.0
EDUCAÇÃO                                             71.0
INFORMAÇÃO E COMUNICAÇÃO                             60.0
OUTRAS ATIVIDADES DE SERVIÇOS                        86.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    64.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   14.0

In [18]:
empresas_MT = df.loc[(df['Local']=='Mato Grosso')&(df['Tipo'] == 'N° de empresas')]
empresas_MT.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
144,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",88
145,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",10
146,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",264
147,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",272
148,N° de empresas,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",7

In [19]:
funcionarios_MT = df.loc[(df['Local']=='Mato Grosso')&(df['Tipo'] == 'N° de funcionários')]
funcionarios_MT.head()

,Tipo,Ano,Local,Seção,Seção (Nome),Total
240,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",397
241,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",33
242,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",962
243,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",3032
244,N° de funcionários,2020,Mato Grosso,A,"AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...",15

In [20]:
#statisticas descritivas
empresas_MT.loc[(empresas_MT['Ano']==2009)].groupby('Seção (Nome)').describe()

                                                      Ano               \
                                                    count    mean  std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    9.0  2009.0  0.0
ALOJAMENTO E ALIMENTAÇÃO                             14.0  2009.0  0.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  20.0  2009.0  0.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   46.0  2009.0  0.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   15.0  2009.0  0.0
ATIVIDADES IMOBILIÁRIAS                               5.0  2009.0  0.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     30.0  2009.0  0.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  207.0  2009.0  0.0
EDUCAÇÃO                                             13.0  2009.0  0.0
INDÚSTRIAS DE TRANSFORMAÇÃO                           1.0  2009.0  NaN
INFORMAÇÃO E COMUNICAÇÃO                             34.0  2009.0  0.0
OUTRAS ATIVIDADES DE SERVIÇOS                        22.0  2009.0  0.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    34.0  2009.0  0.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   11.0  2009.0  0.0

                                                                            \
                                                       min     25%     50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0  2009.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0  2009.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0  2009.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0  2009.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0  2009.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0  2009.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0  2009.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  2009.0
EDUCAÇÃO                                            2009.0  2009.0  2009.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0  2009.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0  2009.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0  2009.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0  2009.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0  2009.0

                                                                    Total  \
                                                       75%     max  count
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0    9.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0   14.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0   20.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0   46.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0   15.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0    5.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0   30.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  207.0
EDUCAÇÃO                                            2009.0  2009.0   13.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0    1.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0   34.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0   22.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0   34.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0   11.0

                                                                            \
                                                          mean         std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   78.888889   82.462786
ALOJAMENTO E ALIMENTAÇÃO                            183.142857  315.110935
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  15.100000   21.018538
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   34.086957   52.011463
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...    9.933333   17.268744
ATIVIDADES IMOBILIÁRIAS                              32.600000    8.988882
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     53.733333  119.283185
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  115.555556  283.134973
EDUCAÇÃO                                             32.538462   48.885266
INDÚSTRIAS DE TRANSFORMAÇÃO                         196.000000         NaN
INFORMAÇÃO E COMUNICAÇÃO                             19.323529   27.334871
OUTRAS ATIVIDADES DE SERVIÇOS                        32.272727   43.983960
TRANSPORTE, ARMAZENAGEM E CORREIO                    18.529412   37.157515
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    8.545455   10.443789

                                                                          \
                                                      min     25%    50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    6.0   27.00   48.0
ALOJAMENTO E ALIMENTAÇÃO                              1.0   10.00   32.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                   1.0    2.00    3.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...    1.0    4.25   13.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...    1.0    2.00    4.0
ATIVIDADES IMOBILIÁRIAS                              18.0   32.00   33.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS      1.0    5.50   16.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...    1.0    8.50   25.0
EDUCAÇÃO                                              1.0    2.00   10.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         196.0  196.00  196.0
INFORMAÇÃO E COMUNICAÇÃO                              1.0    4.25    9.0
OUTRAS ATIVIDADES DE SERVIÇOS                         1.0    2.50   12.5
TRANSPORTE, ARMAZENAGEM E CORREIO                     1.0    2.00    4.5
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    1.0    2.50    4.0


                                                       75%     max
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   81.00   218.0
ALOJAMENTO E ALIMENTAÇÃO                             93.75   970.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  19.75    69.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   41.75   271.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...    7.00    68.0
ATIVIDADES IMOBILIÁRIAS                              40.00    40.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     31.75   542.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...   88.50  2537.0
EDUCAÇÃO                                             39.00   173.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         196.00   196.0
INFORMAÇÃO E COMUNICAÇÃO                             16.00   119.0
OUTRAS ATIVIDADES DE SERVIÇOS                        45.25   171.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    16.50   161.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    9.50    35.0

In [21]:
empresas_MT.loc[(empresas_MT['Ano']==2020)].groupby('Seção (Nome)').describe()

                                                      Ano               \
                                                    count    mean  std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    9.0  2020.0  0.0
ALOJAMENTO E ALIMENTAÇÃO                             15.0  2020.0  0.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  21.0  2020.0  0.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   52.0  2020.0  0.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   13.0  2020.0  0.0
ATIVIDADES IMOBILIÁRIAS                               6.0  2020.0  0.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     31.0  2020.0  0.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  216.0  2020.0  0.0
EDUCAÇÃO                                             12.0  2020.0  0.0
INFORMAÇÃO E COMUNICAÇÃO                             38.0  2020.0  0.0
OUTRAS ATIVIDADES DE SERVIÇOS                        23.0  2020.0  0.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    30.0  2020.0  0.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   12.0  2020.0  0.0

                                                                            \
                                                       min     25%     50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2020.0  2020.0  2020.0
ALOJAMENTO E ALIMENTAÇÃO                            2020.0  2020.0  2020.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2020.0  2020.0  2020.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2020.0  2020.0  2020.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2020.0  2020.0  2020.0
ATIVIDADES IMOBILIÁRIAS                             2020.0  2020.0  2020.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2020.0  2020.0  2020.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2020.0  2020.0  2020.0
EDUCAÇÃO                                            2020.0  2020.0  2020.0
INFORMAÇÃO E COMUNICAÇÃO                            2020.0  2020.0  2020.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2020.0  2020.0  2020.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2020.0  2020.0  2020.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2020.0  2020.0  2020.0

                                                                    Total  \
                                                       75%     max  count
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2020.0  2020.0    9.0
ALOJAMENTO E ALIMENTAÇÃO                            2020.0  2020.0   15.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2020.0  2020.0   21.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2020.0  2020.0   52.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2020.0  2020.0   13.0
ATIVIDADES IMOBILIÁRIAS                             2020.0  2020.0    6.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2020.0  2020.0   31.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2020.0  2020.0  216.0
EDUCAÇÃO                                            2020.0  2020.0   12.0
INFORMAÇÃO E COMUNICAÇÃO                            2020.0  2020.0   38.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2020.0  2020.0   23.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2020.0  2020.0   30.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2020.0  2020.0   12.0

                                                                            \
                                                          mean         std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  101.666667  102.670590
ALOJAMENTO E ALIMENTAÇÃO                            311.066667  549.140298
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  23.047619   57.192199
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   61.750000  100.184120
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   25.692308   63.844061
ATIVIDADES IMOBILIÁRIAS                             100.833333   45.327328
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    111.645161  249.460691
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  145.185185  340.570196
EDUCAÇÃO                                             71.166667   88.895069
INFORMAÇÃO E COMUNICAÇÃO                             27.631579   41.171639
OUTRAS ATIVIDADES DE SERVIÇOS                        55.695652   69.232438
TRANSPORTE, ARMAZENAGEM E CORREIO                    31.066667   55.267958
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   16.083333   21.534152

                                                                               \
                                                     min    25%   50%     75%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   7.0  18.00  85.0  128.00
ALOJAMENTO E ALIMENTAÇÃO                             1.0  24.00  74.0  187.00
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  1.0   1.00   6.0   11.00
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   1.0   4.75  18.0   66.25
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   1.0   1.00   5.0    9.00
ATIVIDADES IMOBILIÁRIAS                             49.0  73.00  97.0  112.75
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     1.0   8.50  30.0   72.50
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...   1.0  10.00  34.5  119.00
EDUCAÇÃO                                             6.0  11.00  26.5  105.50
INFORMAÇÃO E COMUNICAÇÃO                             1.0   4.00  10.5   25.75
OUTRAS ATIVIDADES DE SERVIÇOS                        1.0   4.50  25.0   86.50
TRANSPORTE, ARMAZENAGEM E CORREIO                    1.0   3.00   7.0   22.00
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   1.0   4.50   9.0   14.75


                                                       max
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   272.0
ALOJAMENTO E ALIMENTAÇÃO                            1850.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  261.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   567.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   234.0
ATIVIDADES IMOBILIÁRIAS                              179.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    1249.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  3383.0
EDUCAÇÃO                                             275.0
INFORMAÇÃO E COMUNICAÇÃO                             193.0
OUTRAS ATIVIDADES DE SERVIÇOS                        253.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    246.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    77.0

In [22]:
funcionarios_Cuiaba.loc[(funcionarios_Cuiaba['Ano']==2009)].groupby('Seção (Nome)').describe()

                                                      Ano               \
                                                    count    mean  std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    7.0  2009.0  0.0
ALOJAMENTO E ALIMENTAÇÃO                             14.0  2009.0  0.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  15.0  2009.0  0.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   41.0  2009.0  0.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   14.0  2009.0  0.0
ATIVIDADES IMOBILIÁRIAS                               5.0  2009.0  0.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     30.0  2009.0  0.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  204.0  2009.0  0.0
EDUCAÇÃO                                             10.0  2009.0  0.0
INDÚSTRIAS DE TRANSFORMAÇÃO                           1.0  2009.0  NaN
INFORMAÇÃO E COMUNICAÇÃO                             32.0  2009.0  0.0
OUTRAS ATIVIDADES DE SERVIÇOS                        18.0  2009.0  0.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    20.0  2009.0  0.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    9.0  2009.0  0.0

                                                                            \
                                                       min     25%     50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0  2009.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0  2009.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0  2009.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0  2009.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0  2009.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0  2009.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0  2009.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  2009.0
EDUCAÇÃO                                            2009.0  2009.0  2009.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0  2009.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0  2009.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0  2009.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0  2009.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0  2009.0

                                                                    Total  \
                                                       75%     max  count
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0    7.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0   14.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0   15.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0   41.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0   14.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0    5.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0   30.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  204.0
EDUCAÇÃO                                            2009.0  2009.0   10.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0    1.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0   32.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0   18.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0   20.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0    9.0

                                                                            \
                                                          mean         std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  213.000000  345.445606
ALOJAMENTO E ALIMENTAÇÃO                            445.928571  785.679565
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  25.400000   31.943700
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  364.902439  834.919122
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   36.071429   69.106901
ATIVIDADES IMOBILIÁRIAS                              58.200000   37.731949
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     83.033333  131.793591
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  202.401961  481.857199
EDUCAÇÃO                                            149.000000  273.142210
INDÚSTRIAS DE TRANSFORMAÇÃO                         262.000000         NaN
INFORMAÇÃO E COMUNICAÇÃO                             82.812500  104.670123
OUTRAS ATIVIDADES DE SERVIÇOS                        89.666667   94.736166
TRANSPORTE, ARMAZENAGEM E CORREIO                    62.200000   75.449949
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   45.000000   95.412263

                                                                          \
                                                      min     25%    50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    1.0    2.50    3.0
ALOJAMENTO E ALIMENTAÇÃO                              2.0   21.50   51.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                   1.0    2.00   11.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...    0.0    6.00   62.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...    0.0    3.25    8.0
ATIVIDADES IMOBILIÁRIAS                              21.0   24.00   66.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS      0.0    5.75   27.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...    0.0   13.00   50.0
EDUCAÇÃO                                              1.0   11.50   23.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         262.0  262.00  262.0
INFORMAÇÃO E COMUNICAÇÃO                              1.0   13.00   40.0
OUTRAS ATIVIDADES DE SERVIÇOS                         1.0    8.50   55.5
TRANSPORTE, ARMAZENAGEM E CORREIO                     0.0    4.25   28.5
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    0.0    5.00    7.0


                                                       75%     max
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  375.00   732.0
ALOJAMENTO E ALIMENTAÇÃO                            506.00  2765.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  32.00    85.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  334.00  3770.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   17.00   249.0
ATIVIDADES IMOBILIÁRIAS                              67.00   113.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     91.50   528.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  167.25  4325.0
EDUCAÇÃO                                            157.25   891.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         262.00   262.0
INFORMAÇÃO E COMUNICAÇÃO                             88.00   381.0
OUTRAS ATIVIDADES DE SERVIÇOS                       168.50   304.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   102.50   284.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   29.00   296.0

In [23]:
funcionarios_Cuiaba.loc[(funcionarios_Cuiaba['Ano']==2020)].groupby('Seção (Nome)').describe()

                                                      Ano               \
                                                    count    mean  std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    7.0  2020.0  0.0
ALOJAMENTO E ALIMENTAÇÃO                             14.0  2020.0  0.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  16.0  2020.0  0.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   46.0  2020.0  0.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   12.0  2020.0  0.0
ATIVIDADES IMOBILIÁRIAS                               6.0  2020.0  0.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     30.0  2020.0  0.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  213.0  2020.0  0.0
EDUCAÇÃO                                             11.0  2020.0  0.0
INFORMAÇÃO E COMUNICAÇÃO                             34.0  2020.0  0.0
OUTRAS ATIVIDADES DE SERVIÇOS                        19.0  2020.0  0.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    17.0  2020.0  0.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    9.0  2020.0  0.0

                                                                            \
                                                       min     25%     50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2020.0  2020.0  2020.0
ALOJAMENTO E ALIMENTAÇÃO                            2020.0  2020.0  2020.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2020.0  2020.0  2020.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2020.0  2020.0  2020.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2020.0  2020.0  2020.0
ATIVIDADES IMOBILIÁRIAS                             2020.0  2020.0  2020.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2020.0  2020.0  2020.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2020.0  2020.0  2020.0
EDUCAÇÃO                                            2020.0  2020.0  2020.0
INFORMAÇÃO E COMUNICAÇÃO                            2020.0  2020.0  2020.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2020.0  2020.0  2020.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2020.0  2020.0  2020.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2020.0  2020.0  2020.0

                                                                    Total  \
                                                       75%     max  count
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2020.0  2020.0    7.0
ALOJAMENTO E ALIMENTAÇÃO                            2020.0  2020.0   14.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2020.0  2020.0   16.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2020.0  2020.0   46.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2020.0  2020.0   12.0
ATIVIDADES IMOBILIÁRIAS                             2020.0  2020.0    6.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2020.0  2020.0   30.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2020.0  2020.0  213.0
EDUCAÇÃO                                            2020.0  2020.0   11.0
INFORMAÇÃO E COMUNICAÇÃO                            2020.0  2020.0   34.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2020.0  2020.0   19.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2020.0  2020.0   17.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2020.0  2020.0    9.0

                                                                             \
                                                          mean          std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  344.571429   610.328561
ALOJAMENTO E ALIMENTAÇÃO                            570.000000  1006.421230
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  40.187500    85.395721
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  482.282609  1164.073187
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   30.666667    69.176104
ATIVIDADES IMOBILIÁRIAS                             106.666667    89.121640
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    147.433333   312.597646
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  209.877934   493.185587
EDUCAÇÃO                                            165.727273   283.963410
INFORMAÇÃO E COMUNICAÇÃO                            153.882353   319.946659
OUTRAS ATIVIDADES DE SERVIÇOS                        96.631579   105.360340
TRANSPORTE, ARMAZENAGEM E CORREIO                   151.058824   248.438239
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  134.666667   180.934380

                                                                               \
                                                    min    25%    50%     75%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  1.0   5.50    8.0  421.50
ALOJAMENTO E ALIMENTAÇÃO                            7.0  15.75  178.5  551.25
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 0.0   1.00    8.0   19.50
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  1.0  13.00   47.0  310.50
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  0.0   3.75    6.5   19.50
ATIVIDADES IMOBILIÁRIAS                             3.0  69.50   88.0  119.25
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    0.0  11.00   36.0  126.50
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  0.0  15.00   56.0  172.00
EDUCAÇÃO                                            1.0  14.50   42.0  196.00
INFORMAÇÃO E COMUNICAÇÃO                            0.0   3.50   28.5  174.00
OUTRAS ATIVIDADES DE SERVIÇOS                       3.0  15.00   48.0  156.00
TRANSPORTE, ARMAZENAGEM E CORREIO                   5.0  22.00   32.0  246.00
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2.0  19.00   53.0  136.00


                                                       max
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  1549.0
ALOJAMENTO E ALIMENTAÇÃO                            3677.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  334.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  5659.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   247.0
ATIVIDADES IMOBILIÁRIAS                              268.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    1586.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  4994.0
EDUCAÇÃO                                             983.0
INFORMAÇÃO E COMUNICAÇÃO                            1589.0
OUTRAS ATIVIDADES DE SERVIÇOS                        339.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    951.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   508.0

In [24]:
funcionarios_MT.loc[(funcionarios_MT['Ano']==2009)].groupby('Seção (Nome)').describe()

                                                      Ano               \
                                                    count    mean  std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...    9.0  2009.0  0.0
ALOJAMENTO E ALIMENTAÇÃO                             14.0  2009.0  0.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  20.0  2009.0  0.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   46.0  2009.0  0.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   15.0  2009.0  0.0
ATIVIDADES IMOBILIÁRIAS                               5.0  2009.0  0.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     30.0  2009.0  0.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  207.0  2009.0  0.0
EDUCAÇÃO                                             13.0  2009.0  0.0
INDÚSTRIAS DE TRANSFORMAÇÃO                           1.0  2009.0  NaN
INFORMAÇÃO E COMUNICAÇÃO                             34.0  2009.0  0.0
OUTRAS ATIVIDADES DE SERVIÇOS                        22.0  2009.0  0.0
TRANSPORTE, ARMAZENAGEM E CORREIO                    34.0  2009.0  0.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   11.0  2009.0  0.0

                                                                            \
                                                       min     25%     50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0  2009.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0  2009.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0  2009.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0  2009.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0  2009.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0  2009.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0  2009.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  2009.0
EDUCAÇÃO                                            2009.0  2009.0  2009.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0  2009.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0  2009.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0  2009.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0  2009.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0  2009.0

                                                                    Total  \
                                                       75%     max  count
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  2009.0  2009.0    9.0
ALOJAMENTO E ALIMENTAÇÃO                            2009.0  2009.0   14.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                 2009.0  2009.0   20.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  2009.0  2009.0   46.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...  2009.0  2009.0   15.0
ATIVIDADES IMOBILIÁRIAS                             2009.0  2009.0    5.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    2009.0  2009.0   30.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  2009.0  2009.0  207.0
EDUCAÇÃO                                            2009.0  2009.0   13.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         2009.0  2009.0    1.0
INFORMAÇÃO E COMUNICAÇÃO                            2009.0  2009.0   34.0
OUTRAS ATIVIDADES DE SERVIÇOS                       2009.0  2009.0   22.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   2009.0  2009.0   34.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...  2009.0  2009.0   11.0

                                                                              \
                                                           mean          std
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   572.888889   689.043258
ALOJAMENTO E ALIMENTAÇÃO                            1106.000000  1917.521277
ARTES, CULTURA, ESPORTE E RECREAÇÃO                   53.450000    94.534580
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...   494.760870   994.537351
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...    48.200000    85.154649
ATIVIDADES IMOBILIÁRIAS                              121.200000    25.103785
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS     205.833333   465.474625
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...   687.169082  1791.334049
EDUCAÇÃO                                             234.153846   440.446903
INDÚSTRIAS DE TRANSFORMAÇÃO                          767.000000          NaN
INFORMAÇÃO E COMUNICAÇÃO                             141.352941   200.858895
OUTRAS ATIVIDADES DE SERVIÇOS                        135.681818   163.002304
TRANSPORTE, ARMAZENAGEM E CORREIO                    136.058824   286.326571
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   115.545455   229.141163

                                                                          \
                                                      min     25%    50%
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...   13.0   70.00  313.0
ALOJAMENTO E ALIMENTAÇÃO                              5.0   52.00  120.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                   0.0    2.75   11.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...    0.0   10.00   83.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...    1.0    3.50   11.0
ATIVIDADES IMOBILIÁRIAS                              77.0  125.00  133.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS      0.0   22.25   53.5
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...    1.0   45.50  137.0
EDUCAÇÃO                                              2.0   10.00   34.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         767.0  767.00  767.0
INFORMAÇÃO E COMUNICAÇÃO                              0.0   17.25   58.5
OUTRAS ATIVIDADES DE SERVIÇOS                         1.0    7.00   76.0
TRANSPORTE, ARMAZENAGEM E CORREIO                     0.0    7.00   30.5
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...    4.0    7.50   16.0


                                                       75%      max
Seção (Nome)
AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESC...  869.00   2013.0
ALOJAMENTO E ALIMENTAÇÃO                            909.50   6365.0
ARTES, CULTURA, ESPORTE E RECREAÇÃO                  50.00    366.0
ATIVIDADES ADMINISTRATIVAS E SERVIÇOS COMPLEMEN...  534.00   4639.0
ATIVIDADES FINANCEIRAS, DE SEGUROS E SERVIÇOS R...   30.50    251.0
ATIVIDADES IMOBILIÁRIAS                             134.00    137.0
ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E TÉCNICAS    149.75   2512.0
COMÉRCIO; REPARAÇÃO DE VEÍCULOS AUTOMOTORES E M...  512.50  16752.0
EDUCAÇÃO                                            192.00   1490.0
INDÚSTRIAS DE TRANSFORMAÇÃO                         767.00    767.0
INFORMAÇÃO E COMUNICAÇÃO                            144.50    764.0
OUTRAS ATIVIDADES DE SERVIÇOS                       185.00    421.0
TRANSPORTE, ARMAZENAGEM E CORREIO                   149.00   1395.0
ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS ...   62.00    747.0

In [24]:
from google.colab import files

#empresas_Cuiaba.to_csv('empresasCuiaba.csv', encoding = 'utf-8-sig') 
#files.download('empresasCuiaba.csv')

In [25]:
#empresas_MT.to_csv('empresasMT.csv', encoding = 'utf-8-sig') 
#files.download('empresasMT.csv')

In [26]:
#funcionarios_Cuiaba.to_csv('funcionariosCuiaba.csv', encoding = 'utf-8-sig') 
#files.download('funcionariosCuiaba.csv')

In [27]:
#funcionarios_MT.to_csv('funcionariosMT.csv', encoding = 'utf-8-sig') 
#files.download('funcionariosMT.csv')

In [28]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [ ]:
%%R
install.packages("esquisse")

In [ ]:
%%R
#install.packages('RCurl')

In [34]:
%%R
library(tidyverse)
library(ggplot2)
library(esquisse)
library(RCurl)

R[write to console]:
Attaching package: ‘RCurl’


R[write to console]: The following object is masked from ‘package:tidyr’:

    complete

In [40]:
%%R
empresasCuiaba = read.csv("empresasCuiaba.csv")
head(empresasCuiaba)

  X           Tipo  Ano  Local Seção
1 0 N° de empresas 2009 Cuiabá     A
2 1 N° de empresas 2009 Cuiabá     A
3 2 N° de empresas 2009 Cuiabá     A
4 3 N° de empresas 2009 Cuiabá     A
5 4 N° de empresas 2009 Cuiabá     A
6 5 N° de empresas 2009 Cuiabá     A
                                                    Seção..Nome. Total
1 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     2
2 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA    20
3 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     1
4 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     2
5 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA    24
6 AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQUICULTURA     1

In [ ]:
%%R 
esquisse::esquisser(empresasCuiaba)

R[write to console]: Loading required package: shiny

R[write to console]:
Listening on http://127.0.0.1:7662

From cffi callback <function _processevents at 0x7fefa3657200>:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface_lib/callbacks.py", line 274, in _processevents
    @ffi_proxy.callback(ffi_proxy._processevents_def,
KeyboardInterrupt
From cffi callback <function _processevents at 0x7fefa3657200>:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface_lib/callbacks.py", line 274, in _processevents
    @ffi_proxy.callback(ffi_proxy._processevents_def,
KeyboardInterrupt
From cffi callback <function _processevents at 0x7fefa3657200>:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/rpy2/rinterface_lib/callbacks.py", line 274, in _processevents
    @ffi_proxy.callback(ffi_proxy._processevents_def,
KeyboardInterrupt

# New Section